@mixin btn {
  padding: 15px 30px;
  color: #ebebeb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  background: #00554e;
  transition: all 0.4s ease;

  &:hover {
    background: #70a5a0;
  }
}

@mixin btnA {
  padding: 10px 30px;
  color: #03453b;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #03453b;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
 
  &::after {
    content: "";
    height: 12px;
    width: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/arrow.svg);
  }

  &:hover {
    color: #ebebeb;
    background-color: #70a5a0;
    border: 1px solid transparent;
  }
}
@mixin btnLight {
  padding: 10px 30px;
  color: #ebebeb;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  background: #b9956f;
  transition: all 0.4s ease;

  &:hover {
    background: #d2a97e;
  }
}

@mixin link($color) {
  padding: 10px;
  border-radius: 4px;
  color: #ebebeb;
  @if $color == 1 {
    background-color: #00554e;
  }

  @if $color == 2 {
    background-color: #70a5a0;
  }
  @if $color == 3 {
    background-color: #ae8646;
  }
}



@mixin title($size:36px){
    color: #03453B;
    font-size:$size;
    font-weight: 500;
    line-height: 100%; 
}
@mixin textStrong{
    color: #03453B;
font-size: 18px;
font-weight: 700;

}
@mixin text($size:18px){
    color: #333;
font-size: $size;
font-weight: 400;
line-height: 130%;
}

@mixin font{
    font-family: 'PT Sans', sans-serif;
}